<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.gwtplugins.gdt.eclipse.suite.launchConfigVmArgProcessor" name="Launch Configuration VM Argument Processor" schema="schema/com.gwtplugins.gdt.eclipse.suite.launchConfigVmArgProcessor.exsd"/>
   <extension-point id="com.gwtplugins.gdt.eclipse.suite.xMxArgumentProcessorMem" name="XmxArgumentProcessor Memory" schema="schema/com.gwtplugins.gdt.eclipse.suite.xMxArgumentProcessorMem.exsd"/>
   <extension-point id="com.gwtplugins.gdt.eclipse.suite.mainTypeFinder" name="MainTypeFinder" schema="schema/com.gwtplugins.gdt.eclipse.suite.mainTypeFinder.exsd"/>
   <extension-point id="com.gwtplugins.gdt.eclipse.suite.warArgFinder" name="WarArgFinder" schema="schema/com.gwtplugins.gdt.eclipse.suite.warArgFinder.exsd"/>
   <extension-point id="com.gwtplugins.gdt.eclipse.suite.launchConfigurationType" name="LaunchConfigurationType" schema="schema/com.gwtplugins.gdt.eclipse.suite.launchConfigurationType.exsd"/>
   <extension-point id="com.gwtplugins.gdt.eclipse.suite.buildForLaunchCallback" name="Launch Configuration Build-For-Launch Callback" schema="schema/com.gwtplugins.gdt.eclipse.suite.buildForLaunchCallback.exsd"/>
   <extension-point id="com.gwtplugins.gdt.eclipse.suite.webAppCreatorParticipant" name="Web App Creator Participant" schema="schema/com.gwtplugins.gdt.eclipse.suite.webAppCreatorParticipant.exsd"/>
	
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.google.gdt.eclipse.suite.preferences.ui.GwtPreferencePage"
            id="com.gwtplugins.gdt.eclipse.suite.preferences.ui.preferences"
            name="%gwt.label">
      </page>
      <page
            category="com.gwtplugins.gdt.eclipse.suite.preferences.ui.preferences"
            class="com.google.gdt.eclipse.suite.preferences.ui.ErrorsWarningsPage"
            id="com.gwtplugins.gdt.eclipse.suite.preferences.ui.errorsWarnings"
            name="Errors/Warnings">
      </page>
   </extension>
   
   <!-- DevMode Launcher-->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="GWT Development Mode (DevMode)"
            delegateName="GWT Development Mode"
            delegateDescription="Launches the GWT devevelopment mode"
            delegate="com.google.gdt.eclipse.suite.launch.WebAppLaunchDelegate"
            id="com.gwtplugins.gdt.eclipse.suite.webapp"
            modes="run, debug"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"/>
   </extension>
   
   <!-- icon -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/gwt_server_16x16.png"
            configTypeID="com.gwtplugins.gdt.eclipse.suite.webapp"
            id="com.gwtplugins.gdt.eclipse.suite.launch.webappImage">
      </launchConfigurationTypeImage>
   </extension>

   <!-- Launcher: GWT Dev Mode (DevMode) -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="com.gwtplugins.gdt.eclipse.suite.webapp"
            helpContextId="org.eclipse.jdt.debug.ui.launchConfigHelpContext.local_java_application"
            class="com.google.gdt.eclipse.suite.launch.ui.tab_groups.WebAppTabGroup"
            id="com.gwtplugins.gdt.eclipse.suite.launch.ui.webappTabGroup">
         <launchMode 
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="Debug a GWT application with development mode and embedded Jetty server">
         </launchMode>
         <launchMode
               mode="run"
               description="Run a GWT application with development mode and embedded Jetty server">
         </launchMode>
      </launchConfigurationTabGroup>
      
      <!-- Launcher: GWT Dev Mode (CodeServer) -->
      <launchConfigurationTabGroup
            class="com.google.gdt.eclipse.suite.launch.ui.tab_groups.GwtSuperDevModeCodeServerTabGroup"
            id="com.gwtplugins.gwt.eclipse.core.launch.gwtSdmCodeServerTabGroup"
            type="com.gwtplugins.gwt.eclipse.core.sdmCodeServer"
            description="Debug a GWT application with any server or device using the CodeServer">
         <launchMode
               description="Debug a GWT application with any server or device using the CodeServer"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               description="Run a GWT application with any server or device using the CodeServer"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      
      <!-- Launcher: GWT Compiler -->
      <launchConfigurationTabGroup
            class="com.google.gdt.eclipse.suite.launch.ui.tab_groups.GwtCompilerTabGroup"
            id="com.gwtplugins.gwt.eclipse.core.launch.gwtCompilerTabGroup"
            type="com.gwtplugins.gwt.eclipse.core.compiler" 
            description="Compile GWT Source">
         <launchMode
               description="Debug GWT compiler"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               description="Run GWT compiler"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
      
   <!-- Shortcuts -->
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">

      <!-- GWT Super DevMode Launch shortcut when using GWT -->
      <shortcut
            label="GWT Development Mode with Jetty"
            description="Launch GWT legacy development mode with embedded Jetty server (Super Development Mode)"
            path="com.google.gdt.eclipse.suite.launch.ui.shortcuts.WebApp/devModeGroup"
            class="com.google.gdt.eclipse.suite.launch.ui.shortcuts.WebAppGWTSuperDevModeLaunchShortcut"
            icon="icons/gwt_server_16x16.png"
            id="com.gwtplugins.gdt.eclipse.suite.launch.ui.webappLaunchShortcutGwtSuperDevMode"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value= "1"/>
                     <iterate>
                        <test property="com.gwtplugins.gdt.eclipse.suite.isGwtLaunchTarget"/>
                     </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Runs GWT development mode with Jetty server"
               mode="run" />
         <description
               description="Debugs GWT development with Jetty server"
               mode="debug" />
         <configurationType
               id="com.gwtplugins.gdt.eclipse.suite.webapp"/>
      </shortcut>

      <!-- GWT Legacy Dev Mode Launch shortcut when using GWT -->
      <shortcut
            label="GWT Legacy Development Mode with Jetty"
            description="Launch legacy GWT development mode with Jetty (Classic Development Mode)"
            path="com.google.gdt.eclipse.suite.launch.ui.shortcuts.WebApp/devModeGroup"
            class="com.google.gdt.eclipse.suite.launch.ui.shortcuts.WebAppGWTClassicDevModeLaunchShortcut"
            icon="icons/gwt_server_16x16.png"
            id="com.gwtplugins.gdt.eclipse.suite.launch.ui.webappLaunchShortcutGwtClassicDevMode"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value= "1"/>
                     <iterate>
                        <test property="com.gwtplugins.gdt.eclipse.suite.isGwtLaunchTarget"/>
                     </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Runs GWT legacy devopment mode with Jetty"
               mode="run" />
         <description
               description="Debugs GWT legacy devopment mode with Jetty"
               mode="debug" />
         <configurationType
               id="com.gwtplugins.gdt.eclipse.suite.webapp"/>
      </shortcut>
      
      <!-- GWT Compiler -->
      <shortcut
            label="GWT Compiler"
            description="GWT Compile source"
            path="com.google.gdt.eclipse.suite.launch.ui.shortcuts.WebApp/devModeGroup"
            class="com.google.gdt.eclipse.suite.launch.ui.shortcuts.CompilerLaunchShortcut"
            icon="icons/gwt_compiler_16x16.png"
            id="com.gwtplugins.gdt.eclipse.suite.launch.ui.compilerShortcut"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value= "1"/>
                     <iterate>
                        <test property="com.gwtplugins.gdt.eclipse.suite.isGwtLaunchTarget"/>
                     </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Runs GWT Compiler"
               mode="run" />
         <description
               description="Debugs GWT Compiler"
               mode="debug" />
         <configurationType
               id="com.gwtplugins.gwt.eclipse.core.compiler"/>
      </shortcut>
   </extension>  
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.gwtplugins.gdt.eclipse.suite.newWizards"
            name="%gwt.label.new">
      </category>
      <wizard
            category="com.gwtplugins.gdt.eclipse.suite.newWizards"
            class="com.google.gdt.eclipse.suite.wizards.NewWebAppProjectWizard"
            icon="icons/gdt-new-project_16x16.png"
            id="com.gwtplugins.gdt.eclipse.suite.wizards.newProjectWizard"
            name="GWT Web Application Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>      
   </extension>
   
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.gwtplugins.gdt.eclipse.suite.importWizards"
            name="%gwt.label">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="com.gwtplugins.gdt.eclipse.suite.wizards.newProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="com.gwtplugins.gdt.eclipse.suite.wizards.newProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <newWizardShortcut
               id="com.gwtplugins.gdt.eclipse.suite.wizards.newProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <newWizardShortcut
               id="com.gwtplugins.gdt.eclipse.suite.wizards.newProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <!--
   	Action set that other plugins will contribute actions to.
   -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.gwtplugins.gdt.eclipse.suite.projectSettings"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="com.gwtplugins.gdt.eclipse.suite.popupMenu.project"
               label="%gwt.label"
               icon="icons/gdt_16x16.png"
               path="additions">
            <groupMarker
                  name="actionsContent">
            </groupMarker>
            <separator
                  name="separator1">
            </separator>
            <groupMarker
                  name="settingsContent">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.gwtplugins.gdt.eclipse.suite.fileActions"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="com.gwtplugins.gdt.eclipse.suite.popupMenu.file"
               label="%gwt.label"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="com.gwtplugins.gdt.eclipse.suite.launchTargetPropertyTester"
         namespace="com.gwtplugins.gdt.eclipse.suite"
         properties="isLaunchTarget"
         type="org.eclipse.core.runtime.IAdaptable"
         class="com.google.gdt.eclipse.suite.propertytesters.LaunchTargetTester">
      </propertyTester>
      <propertyTester
         id="com.gwtplugins.gdt.eclipse.suite.noServerLaunchTargetPropertyTester"
         namespace="com.gwtplugins.gdt.eclipse.suite"
         properties="isNoServerLaunchTarget"
         type="org.eclipse.core.runtime.IAdaptable"
         class="com.google.gdt.eclipse.suite.propertytesters.NoServerLaunchTargetTester">
      </propertyTester>
      <propertyTester
            class="com.google.gdt.eclipse.suite.propertytesters.GwtLaunchTargetTester"
            id="com.gwtplugins.gdt.eclipse.suite.propertytesters.gwtLaunchTargetTester"
            namespace="com.gwtplugins.gdt.eclipse.suite"
            properties="isGwtLaunchTarget"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="com.gwtplugins.gdt.eclipse.suite.GDTPulldownToolbar"
               label="GWT">
            <command
                  commandId="com.gwtplugins.gdt.eclipse.suite.GDTPulldown"
                  icon="icons/gdt_16x16.png"
                  label="GWT Services and Development Tools"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.gwtplugins.gdt.eclipse.suite.GDTPulldown?after=toolbarGroup.new">
         <command
               commandId="com.gwtplugins.gdt.eclipse.suite.newWebAppProject"
               icon="icons/gdt-new-project_16x16.png"
               label="New GWT Application Project..."
               style="push"
               tooltip="New GWT Application Project">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.gwtplugins.gdt.eclipse.suite.GDTPulldown">
         <separator
               name="toolbarGroup.new"
               visible="true">
         </separator>
         <separator
               name="toolbarGroup.import"
               visible="false">
         </separator>
         <separator
               name="toolbarGroup.compile"
               visible="true">
         </separator>
         <separator
               name="toolbarGroup.profile"
               visible="false">
         </separator>
         <separator
               name="toolbarGroup.deploy"
               visible="true">
         </separator>
         <separator
               name="toolbarGroup.list"
               visible="false">
         </separator>                                             
         <separator
               name="toolbarGroup.googleapis"
               visible="true">                                                   
         </separator>                  
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.google.gdt.eclipse.suite.actions.PulldownHandler"
            id="com.gwtplugins.gdt.eclipse.suite.GDTPulldown"
            name="GDT Pulldown">
      </command>
      <command
            defaultHandler="com.google.gdt.eclipse.suite.actions.NewWebAppToolbarHandler"
            id="com.gwtplugins.gdt.eclipse.suite.newWebAppProject"
            name="New GWT Application Project">
      </command>
   </extension>
</plugin>

