<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <!-- Content Types -->
	<extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.wst.css.core.csssource"
            id="com.gwtplugins.gwt.eclipse.gss.clientbundle.gss"
            name="GSS Resource file"
            priority="high"
            default-charset="UTF-8"			
		    file-extensions="gss">
         <describer class="com.gwtplugins.gwt.eclipse.gss.clientbundle.GssResourceContentDescriber" />
      </content-type>
    </extension>

    <!-- Model Handlers -->
	<extension point="org.eclipse.wst.sse.core.modelHandler">
      <modelHandler
            default="true"
            class="com.sencha.eclipse.gss.gss.model.ModelHandlerForGssResource"
            associatedContentTypeId="com.sencha.eclipse.gss.clientbundle.gss"
            id="com.sencha.eclipse.gss.model.modelhandler">
      </modelHandler>
    </extension>
   
    <!-- Editors -->
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.gwtplugins.gwt.eclipse.gss.GssResourceTextEditor"
            id="com.sencha.eclipse.gss.gssResourceEditor"
            name="GSS Resource Editor">
          <contentTypeBinding contentTypeId="com.gwtplugins.gwt.eclipse.core.clientbundle.content.css">
        </contentTypeBinding>
      </editor>
   </extension>

</plugin>
