<!DOCTYPE ui:UiBinder SYSTEM "http://dl.google.com/gwt/DTD/xhtml.ent">
<ui:UiBinder xmlns:ui="@UiBinderXmlNs@" xmlns:@GwtWidgetsLibNsPrefix@="urn:import:@GwtWidgetsLibNs@">
@StyleElement@
@MarkupElement@
</ui:UiBinder> 