.DS_Store
bin/
proxy_bin/
target/

#trunk is maven
/.project
/.settings

#gpe-repo is maven
/gpe-repo/.settings
/gpe-repo/.project

#TODO remove files at somepoint
/plugins/com.google.gcp.eclipse.testing/resources/appengine-java-sdk*

#SDK Bundles
#TODO changing to variables
gwt-2.7.0/
gwt-2.7.0.zip
appengine-java-sdk-1.9.19/
appengine-java-sdk-1.9.19.zip
