.DS_Store
bin/
proxy_bin/
target/

#trunk is maven
/.project
/.settings

#gpe-repo is maven
/gpe-repo/.settings
/gpe-repo/.project

#SDK Bundles
#TODO changing to variables
gwt-2.7.0/
gwt-2.8.0/
gwt-2.8.0-beta1/
gwt-2.8.0-rc3/
gwt-2.8.1/
gwt-2.8.2/
gwt-2.7.0.zip
gwt-2.8*.zip
gwt-2.9*.zip
gwt-2.9.0/

# TODO remove the others, some of these have been committed
.project
.settings
.classpath