.DS_Store
bin/
proxy_bin/
target/

#trunk is maven
/.project
/.settings

#gpe-repo is maven
/gpe-repo/.settings
/gpe-repo/.project

#TODO remove files at somepoint
/plugins/com.google.gcp.eclipse.testing/resources/appengine-java-sdk*

gwt-2.6.1/
gwt-2.7.0/
gwt-2.6.1.zip
gwt-2.7.0.zip
