<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="appengineConnectedNature"
         name="App Engine Connected"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.google.gdt.eclipse.appengine.rpc.nature.AppEngineConnectedNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="com.google.gdt.eclipse.appengine.rpc.validators.JavaCompilationParticipant"
            createsProblems="true"
            id="com.google.gdt.eclipse.appengine.rpc.compilationParticipant">
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="com.google.gdt.eclipse.appengine.rpc.markers.quickfixes.ReqFactoryProblemMarkerResolutionGenerator"
            id="com.google.gdt.eclipse.appengine.rpc.reqfactoryQuickFixProcessor"
            name="Request Factory QuickFix Processor">
         <handledMarkerTypes>
            <markerType
                  id="com.google.gwt.eclipse.core.javaProblemMarker">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.google.gdt.eclipse.appengine.rpc.markers.quickfixes.ReqFactoryProblemMarkerResolutionGenerator"
            markerType="com.google.gwt.eclipse.core.javaProblemMarker">
      </markerResolutionGenerator>
   </extension>
</plugin>
