<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.gwtplugins.gwt.eclipse.core.moduleInfo" name="ModuleInfo" schema="schema/com.gwtplugins.gwt.eclipse.core.moduleInfo.exsd"/>
   <extension-point id="com.gwtplugins.gwt.eclipse.core.launchShortcutStrategy" name="LaunchShortcutStrategy" schema="schema/com.gwtplugins.gwt.eclipse.core.launchShortcutStrategy.exsd"/>
   <extension-point id="com.gwtplugins.gwt.eclipse.core.moduleClasspathProvider" name="ModuleClasspathProvider" schema="schema/com.gwtplugins.gwt.eclipse.core.moduleClasspathProvider.exsd"/>
   <extension-point id="com.gwtplugins.gwt.eclipse.core.gwtSdkSelectionEnablementFinder" name="GwtSdkSelectionEnablementFinder" schema="schema/com.gwtplugins.gwt.eclipse.core.gwtSdkSelectionEnablementFinder.exsd"/>
   <extension-point id="com.gwtplugins.gwt.eclipse.core.gwtProjectBoundSdkFactory" name="GWT Project-Bound SDK Factory" schema="schema/com.gwtplugins.gwt.eclipse.core.gwtProjectBoundSdkFactory.exsd"/>
   <extension-point id="com.gwtplugins.gwt.eclipse.core.gwtCompileProjectValidator" name="gwtCompileProjectValidator" schema="schema/com.gwtplugins.gwt.eclipse.core.gwtCompileProjectValidator.exsd"/>
   <extension-point id="com.gwtplugins.gwt.eclipse.core.gwtSettingsTabFactory" name="GwtSettingsTabFactory" schema="schema/com.gwtplugins.gwt.eclipse.core.gwtSettingsTabFactory.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.gwtplugins.gdt.eclipse.suite.preferences.ui.googlePreferences"
            class="com.google.gwt.eclipse.core.preferences.ui.GwtPreferencePage"
            id="com.gwtplugins.gwt.eclipse.core.preferences.ui.GwtPreferencePage"
            name="GWT Settings">
      </page>
   </extension>
   <extension
         id="com.gwtplugins.gwt.eclipse.core.gwtNature"
         name="GWT Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.google.gwt.eclipse.core.nature.GWTNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <content-type
            id="com.gwtplugins.gwt.eclipse.core.gwtJavaSource">
      </content-type>
      <builder
            id="com.gwtplugins.gwt.eclipse.core.gwtProjectValidator">
      </builder>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.gwtplugins.gwt.eclipse.core.newWizards"
            name="%gwt.label.classes">
      </category>
      <wizard
            category="com.gwtplugins.gwt.eclipse.core.newWizards"
            class="com.google.gwt.eclipse.core.wizards.NewModuleWizard"
            icon="icons/gwt-new-module_small.png"
            id="com.gwtplugins.gwt.eclipse.core.newModuleWizard"
            name="Module">
      </wizard>
      <wizard
            category="com.gwtplugins.gwt.eclipse.core.newWizards"
            class="com.google.gwt.eclipse.core.wizards.NewHostPageWizard"
            icon="icons/gwt-new-hostpage_small.png"
            id="com.gwtplugins.gwt.eclipse.core.newHostPageWizard"
            name="HTML Page">
      </wizard>
      <wizard
            category="com.gwtplugins.gwt.eclipse.core.newWizards"
            class="com.google.gwt.eclipse.core.wizards.NewEntryPointWizard"
            icon="icons/gwt-new-entrypoint_small.png"
            id="com.gwtplugins.gwt.eclipse.core.newEntryPointWizard"
            name="Entry Point Class">
      </wizard>
      <wizard
            category="com.gwtplugins.gwt.eclipse.core.newWizards"
            class="com.google.gwt.eclipse.core.wizards.NewClientBundleWizard"
            icon="icons/gwt-new-clientbundle_small.png"
            id="com.gwtplugins.gwt.eclipse.core.newClientBundleWizard"
            name="ClientBundle">
      </wizard>
      <wizard
            category="com.gwtplugins.gwt.eclipse.core.newWizards"
            class="com.google.gwt.eclipse.core.wizards.NewUiBinderWizard"
            icon="icons/gwt-new-uibinder_small.png"
            id="com.gwtplugins.gwt.eclipse.core.newUiBinderWizard"
            name="UiBinder">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.gwtplugins.gwt.eclipse.core.editors.gwtJavaEditor.BreakpointRulerActions"
            targetID="com.gwtplugins.gwt.eclipse.core.editors.gwtJavaEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointRulerAction"
               label="%AddBreakpoint.label">
         </action>
      </editorContribution>
      <editorContribution
            targetID="com.gwtplugins.gwt.eclipse.core.editors.gwtJavaEditor"
            id="com.gwtplugins.gwt.eclipse.core.editors.gwtJavaEditor.ruler.actions">
         <action
               label="%BookmarkRulerAction.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.jdt.internal.ui.javaeditor.BookmarkRulerAction">
         </action>
         <action
               label="%JavaSelectRulerAction.label"
               class="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.google.gwt.eclipse.core.editors.java.GWTJavaEditor"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            extensions="java"
            icon="icons/jcu_obj.gif"
            id="com.gwtplugins.gwt.eclipse.core.editors.gwtJavaEditor"
            name="GWT Java Editor">
         <contentTypeBinding
               contentTypeId="com.gwtplugins.gwt.eclipse.core.gwtJavaSource">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.google.gwt.eclipse.core.uibinder.sse.UiBinderXmlTextEditor"
            id="com.gwtplugins.gwt.eclipse.core.editors.uiBinderXmlEditor"
            icon="icons/gwt-uibinderxml-file_small.gif"
            name="UiBinder Template Editor">
         <contentTypeBinding
               contentTypeId="com.gwtplugins.gwt.eclipse.core.uibinder.content.xml">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.google.gwt.eclipse.core.uibinder.sse.css.model.CssResourceTextEditor"
            id="com.gwtplugins.gwt.eclipse.core.editors.cssResourceEditor"
            name="CSS Resource Editor">
         <contentTypeBinding
               contentTypeId="com.gwtplugins.gwt.eclipse.core.clientbundle.content.css">
         </contentTypeBinding>
      </editor>
   </extension>
   <!-- This extension point is deprecated in Eclipse 3.7. It should only be used by Eclipse 3.5 and Eclipse 3.6. 
        Make sure this section is kept in sync with the one below it. -->
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="com.gwtplugins.gwt.eclipse.core.gwtJavaSource"
            name="GWT Java Source File"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            id="com.gwtplugins.gwt.eclipse.core.uibinder.content.xml"
            name="UiBinder Template"
            priority="high">
         <describer class="com.google.gwt.eclipse.core.uibinder.UiBinderXmlContentDescriber">
         <parameter name="element" value="UiBinder" />
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.wst.css.core.csssource"
            id="com.gwtplugins.gwt.eclipse.core.clientbundle.content.css"
            name="CSS Resource file"
            priority="high">
         <describer class="com.google.gwt.eclipse.core.clientbundle.CssResourceContentDescriber" />
      </content-type>
   </extension>
   <!-- This extension point is the replacement for org.eclispe.core.runtime.contentTypes in Eclipse 3.7. It will
        be ignored by Eclipse 3.5 and Eclipse 3.6. Make sure this section is kept in sync with the one above it. -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="com.gwtplugins.gwt.eclipse.core.gwtJavaSource"
            name="GWT Java Source File"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            id="com.gwtplugins.gwt.eclipse.core.uibinder.content.xml"
            name="UiBinder Template"
            priority="high">
         <describer class="com.google.gwt.eclipse.core.uibinder.UiBinderXmlContentDescriber">
         <parameter name="element" value="UiBinder" />
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.wst.css.core.csssource"
            id="com.gwtplugins.gwt.eclipse.core.clientbundle.content.css"
            name="CSS Resource file"
            priority="high">
         <describer class="com.google.gwt.eclipse.core.clientbundle.CssResourceContentDescriber" />
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.google.gwt.eclipse.core.editors.java.GWTDocumentSetupParticipant"
            contentTypeId="com.gwtplugins.gwt.eclipse.core.gwtJavaSource">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.jdt.ui.A_OpenActionSet">
         <part
               id="com.gwtplugins.gwt.eclipse.core.editors.gwtJavaEditor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.jdt.ui.CodingActionSet">
         <part
               id="com.gwtplugins.gwt.eclipse.core.editors.gwtJavaEditor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.jdt.ui.SearchActionSet">
         <part
               id="com.gwtplugins.gwt.eclipse.core.editors.gwtJavaEditor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.jdt.ui.text.java.actionSet.presentation">
         <part
               id="com.gwtplugins.gwt.eclipse.core.editors.gwtJavaEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
   
   <!-- Launch Types -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.google.gwt.eclipse.core.launch.GWTJUnitLaunchDelegate"
            delegateDescription="Runs a GWT JUnit test"
            delegateName="GWT JUnit Test Launcher"
            id="com.gwtplugins.gwt.eclipse.core.launch.gwtJUnit"
            modes="run, debug"
            name="GWT JUnit Test"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      
      <launchConfigurationType
            delegate="com.google.gwt.eclipse.core.launch.GwtSuperDevModeCodeServerDelegate"
            delegateDescription="Runs the GWT Super Dev Mode with CodeServer"
            delegateName="GWT Super Dev Mode (CodeServer)"
            id="com.gwtplugins.gwt.eclipse.core.sdmCodeServer"
            modes="run, debug"
            name="GWT Super Dev Mode"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"/>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      
      <!-- GWT SDM Code Server -->
      <launchConfigurationTypeImage
            configTypeID="com.gwtplugins.gwt.eclipse.core.sdmCodeServer"
            icon="icons/gwt_codeserver_16x16.png"
            id="com.gwtplugins.gwt.eclipse.core.sdmCodeServerImage">
       </launchConfigurationTypeImage>
       
      <!-- GWT Junit -->
      <launchConfigurationTypeImage
            configTypeID="com.gwtplugins.gwt.eclipse.core.launch.gwtJUnit"
            icon="icons/gwt-junit_small.gif"
            id="com.gwtplugins.gwt.eclipse.core.launch.gwtJUnitImage">
      </launchConfigurationTypeImage>

   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.google.gwt.eclipse.core.launch.ui.groups.GWTJUnitTabGroup"
            helpContextId="org.eclipse.jdt.junit.junit_tab_group"
            id="com.gwtplugins.gwt.eclipse.core.launch.gwtJUnitTabGroup"
            type="com.gwtplugins.gwt.eclipse.core.launch.gwtJUnit">
         <launchMode
               description="Debug a GWT JUnit Test"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               description="Run a GWT JUnit Test"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="gwt.junit"
            class="com.google.gwt.eclipse.core.launch.ui.GWTJUnitLaunchShortcut"
            description="Run a GWT JUnit Test"
            icon="icons/gwt-junit_small.gif"
            id="com.gwtplugins.gwt.eclipse.core.launch.gwtJUnitShortcut"
            label="GWT JUnit Test"
            modes="run, debug">
			   <contextualLaunch>
            	<enablement>
	               	<with variable="selection">
	                	<count value= "1"/>
	                    <iterate>
	                    	<test property="com.gwtplugins.gwt.launching.isGWTTest"/>
	                  	</iterate>
	              	</with>
            	</enablement>
         </contextualLaunch>
         <description
               description="Runs a GWT JUnit Test"
               mode="run">
         </description>
         <description
               description="Debugs a GWT JUnit Test"
               mode="debug">
         </description>
         <configurationType
               id="com.gwtplugins.gwt.eclipse.core.launch.gwtJUnit">
         </configurationType>
      </shortcut>
      <shortcut
            category="gwt.junit"
            class="com.google.gwt.eclipse.core.launch.ui.GWTJUnitWebLaunchShortcut"
            description="Run a GWT JUnit Test"
            icon="icons/gwt-junit_small.gif"
            id="com.gwtplugins.gwt.eclipse.core.launch.gwtJUnitWebShortcut"
            label="GWT JUnit Test (production mode)"
            modes="run, debug">
			<contextualLaunch>
            	<enablement>
	               	<with variable="selection">
	                	<count value= "1"/>
	                    <iterate>
	                    	<test property="com.gwtplugins.gwt.launching.isGWTTest"/>
	                  	</iterate>
	              	</with>
            	</enablement>
         	</contextualLaunch>
         <description
               description="Runs a GWT JUnit Test"
               mode="run">
         </description>
         <description
               description="Debugs a GWT JUnit Test"
               mode="debug">
         </description>
         <configurationType
               id="com.gwtplugins.gwt.eclipse.core.launch.gwtJUnit">
         </configurationType>
      </shortcut>
      
      <shortcut
            class="com.google.gwt.eclipse.core.launch.ui.GwtSuperDevModeCodeServerLaunchShortcut"
            description="Run the GWT Super Dev Mode with CodeServer."
            icon="icons/gwt_codeserver_16x16.png"
            id="com.gwtplugins.gwt.eclipse.core.launch.ui.gwtSdmCodeServerLaunchShortcut"
            label="GWT Super Dev Mode"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value= "1"/>
                     <iterate>
                        <test property="com.gwtplugins.gwt.launching.isGwtLaunchTarget"/>
                     </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Run GWT Super Dev Mode Code Server"
               mode="run" />
         <description
               description="Run GWT Super Dev Mode Code Server"
               mode="debug" />
         <configurationType
               id="com.gwtplugins.gwt.eclipse.core.sdmCodeServer"/>
      </shortcut>
   </extension>
   <!--
   	Property tester to determine if a selection can be run as a GWT JUnit test 
   	case.
   -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.google.gwt.eclipse.core.launch.GWTJUnitPropertyTester"
            id="GWTJUnitPropertyTester"
            namespace="com.gwtplugins.gwt.launching"
            properties="isGWTTest"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>    
      <propertyTester
            class="com.google.gwt.eclipse.core.propertytesters.GwtLaunchTargetTester"
            id="com.gwtplugins.gwt.eclipse.core.propertytesters.gwtLaunchTargetTester"
            namespace="com.gwtplugins.gwt.launching"
            properties="isGwtLaunchTarget"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>           
   </extension>
   
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="com.google.gwt.eclipse.core.launch.ModuleClasspathProvider"
            id="com.gwtplugins.gwt.eclipse.core.moduleClasspathProvider">
      </classpathProvider>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.google.gwt.eclipse.core.runtime.GWTRuntimeContainerInitializer"
            id="com.gwtplugins.gwt.eclipse.core.GWT_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="com.google.gwt.eclipse.core.runtime.ui.GWTRuntimeContainerPage"
            id="com.gwtplugins.gwt.eclipse.core.GWT_CONTAINER"
            name="GWT">
      </classpathContainerPage>
   </extension>
   
   
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="com.google.gwt.eclipse.core.validators.java.JavaCompilationParticipant"
            createsProblems="true"
            id="com.gwtplugins.gwt.eclipse.core.javaCompilationParticipant">
         <managedMarker
               markerType="com.gwtplugins.gwt.eclipse.core.javaProblemMarker">
         </managedMarker>        
         <managedMarker
               markerType="com.gwtplugins.gwt.eclipse.core.rpcProblemMarker">
         </managedMarker>
         <managedMarker
               markerType="com.gwtplugins.gwt.eclipse.core.clientBundleProblemMarker">
         </managedMarker>
         <managedMarker
               markerType="com.gwtplugings.gwt.eclipse.core.uiBinderJavaProblemMarker">
         </managedMarker>
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.queryParticipants">
      <queryParticipant
            class="com.google.gwt.eclipse.core.search.JavaQueryParticipant"
            id="gwtJavaQueryParticipant"
            name="GWT Java Search Participant"
            nature="org.eclipse.jdt.core.javanature">
      </queryParticipant>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.google.gwt.eclipse.core.debug.ui.GWTDebugModelPresentation"
            detailsViewerConfiguration="org.eclipse.jdt.internal.debug.ui.display.DetailsViewerConfiguration"
            id="org.eclipse.jdt.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.google.gwt.eclipse.core.refactoring.GWTRenameTypeInJsniParticipant"
            id="com.gwtplugins.gwt.eclipse.core.refactoring.renameTypeInJsniParticipant"
            name="Rename type in JSNI blocks">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="com.google.gwt.eclipse.core.refactoring.GWTRenameMemberInJsniParticipant"
            id="com.gwtplugins.gwt.eclipse.core.refactoring.renameMemberInJsniParticipant"
            name="Rename member in JSNI blocks">
         <enablement>
            <with
                  variable="element">
               <or>
               <instanceof
                     value="org.eclipse.jdt.core.IMethod">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IField">
               </instanceof>
            </or>
            </with>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="com.google.gwt.eclipse.core.refactoring.rpc.PairedInterfaceRenameParticipant"
            id="com.gwtplugins.gwt.eclipse.core.refactoring.rpc.pairedInterfaceRenameParticipant"
            name="Rename a GWT RPC paired interface">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="com.google.gwt.eclipse.core.refactoring.rpc.PairedMethodRenameParticipant"
            id="com.gwtplugins.gwt.eclipse.core.refactoring.rpc.pairedMethodRenameParticipant"
            name="Rename a method in a GWT RPC paired interface">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IMethod">
               </instanceof>
            </with>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="com.google.gwt.eclipse.core.refactoring.GWTDeleteCompilationUnitParticipant"
            id="com.gwtplugins.gwt.eclipse.core.refactoring.deleteCompilationUnitParticipant"
            name="Delete GWT Java reference index entries">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.ICompilationUnit">
               </instanceof>
            </with>
         </enablement>
      </deleteParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.google.gwt.eclipse.core.refactoring.GWTMoveTypeInJsniParticipant"
            id="com.gwtplugins.gwt.eclipse.core.refactoring.moveTypeInJsniParticipant"
            name="Move type in JSNI blocks">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IType">
               </instanceof>
            </with>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
         </enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newEntryPointWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newHostPageWizard">
         </newWizardShortcut>
          <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newModuleWizard">
         </newWizardShortcut>
          <newWizardShortcut
                id="com.gwtplugins.gwt.eclipse.core.newClientBundleWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.gwtplugins.gwt.eclipse.core.newUiBinderWizard">
          </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newEntryPointWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newHostPageWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newModuleWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newClientBundleWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newUiBinderWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newEntryPointWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newHostPageWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newModuleWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newClientBundleWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newUiBinderWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newEntryPointWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newHostPageWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newModuleWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newClientBundleWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.gwtplugins.gwt.eclipse.core.newUiBinderWizard">
         </newWizardShortcut>
      </perspectiveExtension>      
   </extension>
   <extension
         id="jsniCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="false"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="com.google.gwt.eclipse.core.editors.java.JsniMethodBodyCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
   
   <!-- deprecated - will be off during app engine facet use --> 
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="com.gwtplugins.gdt.eclipse.core.properties.coreProjectPropertyPage"
            class="com.google.gwt.eclipse.core.properties.ui.GWTProjectPropertyPage"
            id="com.gwtplugins.gwt.eclipse.core.properties.ui.gwtProjectPropertyPage"
            name="General Settings">
      </page>
   </extension>
   <!--
   		Participate in the Google deployment process
   -->
   <extension
         point="com.gwtplugins.gdt.eclipse.core.deploymentParticipant">
      <deploymentParticipant
            class="com.google.gwt.eclipse.core.GWTDeploymentParticipant">
      </deploymentParticipant>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.gwtplugins.gwt.eclipse.core.projectGWTSettings"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.google.gwt.eclipse.core.actions.ProjectPropertiesAction"
               id="com.gwtplugins.gwt.eclipse.core.popupMenu.project.gwtSettings"
               icon="icons/gwt_16x16.png"
               label="GWT Settings..."
               menubarPath="com.gwtplugins.gdt.eclipse.suite.popupMenu.project/settingsContent">
         </action>
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            id="com.gwtplugins.gwt.eclipse.core.popupMenus.project.GWTCompile"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.google.gwt.eclipse.core.actions.GWTCompileToolbarAction"
               icon="icons/gwt_16x16.png"
               id="com.gwtplugins.gwt.eclipse.core.actions.GWTCompileProjectAction"
               label="GWT Compile"
               menubarPath="com.gwtplugins.gdt.eclipse.suite.popupMenu.project/actionsContent">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.gwtplugins.gwt.eclipse.core.popupMenus.file.AddResourcesToClientBundle"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.google.gwt.eclipse.core.clientbundle.ui.AddResourcesToClientBundleAction"
               enablesFor="+"
               id="com.gwtplugins.gwt.eclipse.core.actions.AddResourcesToClientBundleAction"
               label="Add to ClientBundle..."
               menubarPath="com.gwtplugins.gdt.eclipse.suite.popupMenu.file/content">
         </action>
      </objectContribution>      
   </extension>
   <extension
         id="com.gwtplugins.gwt.eclipse.core.gwtProjectValidator"
         name="GWT Project Validator"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false">
         <run
               class="com.google.gwt.eclipse.core.validators.GWTProjectValidator">
         </run>
      </builder>
   </extension>
   <extension
         id="com.gwtplugins.gwt.eclipse.core.gwtProjectProblemMarker"
         name="GWT Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.google.gwt.eclipse.core.markers.quickfixes.GWTValidatorMarkerResolutionGenerator"
            markerType="com.gwtplugins.gwt.eclipse.core.gwtProjectProblemMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="javaProblemMarker"
         name="GWT Java Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
   </extension>
   <extension
         id="rpcProblemMarker"
         name="GWT RPC Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super 
            type="com.gwtplugins.gwt.eclipse.core.javaProblemMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="com.google.gwt.eclipse.core.markers.quickfixes.RemoteServiceProblemMarkerResolutionGenerator"
            id="com.gwtplugins.gwt.eclipse.core.rpcQuickFixProcessor"
            name="GWT RPC QuickFix Processor">
         <handledMarkerTypes>
            <markerType
                  id="com.gwtplugins.gwt.eclipse.core.rpcProblemMarker">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.google.gwt.eclipse.core.markers.quickfixes.RemoteServiceProblemMarkerResolutionGenerator"
            markerType="com.gwtplugins.gwt.eclipse.core.rpcProblemMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="uiBinderProblemMarker"
         name="GWT UiBinder Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super 
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.runtimeClasspathEntryResolvers">
      <runtimeClasspathEntryResolver
            class="com.google.gwt.eclipse.core.runtime.RuntimeClasspathEntryResolver"
            container="com.gwtplugins.gwt.eclipse.core.GWT_CONTAINER"
            id="com.gwtplugins.gwt.eclipse.core.runtime.runtimeClasspathEntryResolver">
      </runtimeClasspathEntryResolver>
   </extension>
   <extension point="org.eclipse.wst.sse.core.modelHandler">
      <!-- This is the only place for us to plug in our model handlers.  Unfortunately, these will
           always be used for each respective content type, even if the user is not using our
           specific editor. See UiBinderXmlTextEditor for more information. -->
      <modelHandler
            default="true"
            class="com.google.gwt.eclipse.core.uibinder.sse.model.ModelHandlerForUiBinderXml"
            associatedContentTypeId="com.gwtplugins.gwt.eclipse.core.uibinder.content.xml"
            id="com.gwtplugins.gwt.eclipse.core.uibinder.content.modelhandler">
      </modelHandler>
      <modelHandler
            default="true"
            class="com.google.gwt.eclipse.core.uibinder.sse.css.model.ModelHandlerForCssResource"
            associatedContentTypeId="com.gwtplugins.gwt.eclipse.core.clientbundle.content.css"
            id="com.gwtplugins.gwt.eclipse.core.clientbundle.content.css.modelhandler">
      </modelHandler>
   </extension>
   <!-- Even though this extension point is deprecated, we cannot simply remove the use of it. Other plugins
        are still using this extension point, which means that they can contribute the wrong content type for .ui.xml files. Until
        all other plugins (namely the wst.xml.core plugin) stop using this extension point, we must continue to
        use it. -->    
   <extension
         point="org.eclipse.core.filebuffers.documentCreation"
         id="org.eclipse.wst.xml.core.documentfactories">
      <!-- This extension point is needed for our model handler to be used, see org.eclipse.core.internal.filebuffers.ExtensionsRegistry:getDocumentFactory. -->
      <factory
            contentTypeId="com.gwtplugins.gwt.eclipse.core.uibinder.content.xml"
            class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
      <factory
            contentTypeId="com.gwtplugins.gwt.eclipse.core.clientbundle.content.css"
            class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
   </extension>
   <extension
         id="clientBundleProblemMarker"
         name="GWT ClientBundle Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.gwtplugins.gwt.eclipse.core.javaProblemMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.sourcevalidation">
      <validator
            class="com.google.gwt.eclipse.core.uibinder.validators.UiXmlEditorValidator"
            id="com.gwtplugins.gwt.eclipse.core.uibinder.validators.uiXmlEditorValidator"
            scope="total">
         <contentTypeIdentifier
               id="com.gwtplugins.gwt.eclipse.core.uibinder.content.xml">
            <partitionType
                  id="org.eclipse.wst.xml.XML_DEFAULT">
            </partitionType>
         </contentTypeIdentifier>
         <contentTypeIdentifier
               id="com.gwtplugins.gwt.eclipse.core.uibinder.content.xml">
            <partitionType
                  id="org.eclipse.wst.css.STYLE">
            </partitionType>
         </contentTypeIdentifier>
      </validator>
   </extension>
   <extension
         id="uiBinderJavaProblemMarker"
         name="GWT UiBinder Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.gwtplugins.gwt.eclipse.core.javaProblemMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <uri
            name="urn:ui:com.google.gwt.uibinder"
            uri="http://dl.google.com/gwt/dtd/uibinder.xsd" /> <!-- TODO fix url? -->
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <uri
            name="urn:import:com.google.gwt.user.client.ui"
            uri="http://dl.google.com/gwt/dtd/com.google.gwt.user.client.ui.xsd" /> <!-- TODO fix url? -->
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.google.gwt.eclipse.core.preferences.GwtPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="Returns a unique ID for the Eclipse session."
            name="unique_id"
            resolver="com.google.gwt.eclipse.core.launch.UniqueIdVariableResolver">
      </variable>
   </extension>

   <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="menu:com.gwtplugins.gdt.eclipse.suite.GDTPulldown?after=toolbarGroup.compile">
          <command
                commandId="com.gwtplugins.gwt.eclipse.core.gwtCompileProject"
                icon="icons/gwt_16x16.png"
                label="GWT Compile Project..."
                style="push"
                tooltip="GWT Compile Project">
          </command>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="com.google.gwt.eclipse.core.actions.GWTCompileToolbarHandler"
             id="com.gwtplugins.gwt.eclipse.core.gwtCompileProject"
             name="GWT Compile Project">
       </command>
    </extension>
    <extension
          id="com.gwtplugins.gwt.eclipse.core.formatter.GWTCodeFormatterApplication"
          point="org.eclipse.core.runtime.applications">
       <application
             cardinality="singleton-global"
             thread="main"
             visible="true">
          <run
                class="com.google.gwt.eclipse.core.applications.GWTCodeFormatterApplication">
          </run>
       </application>
    </extension>
    <extension
          point="org.eclipse.jdt.debug.javaLogicalStructures">
       <javaLogicalStructure
             description="GWT JSO Logical Structure"
             subtypes="true"
             type="com.gwtplugins.gwt.core.client.JavaScriptObject"
             value="com.google.gwt.core.client.debug.JsoInspector.convertToInspectableObject(this)">
       </javaLogicalStructure>
    </extension>
    <extension
          point="org.eclipse.jdt.debug.javaLogicalStructures">
       <javaLogicalStructure
             description="GWT JSO Property Logical Structure"
             subtypes="true"
             type="com.google.gwt.core.client.debug.JsoInspector$JsoProperty"
             value="Class.forName(&quot;com.google.gwt.core.client.debug.JsoInspector$JsoProperty&quot;).getField(&quot;value&quot;).get(this)">
       </javaLogicalStructure>
    </extension>
</plugin>
