<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="GWT Eclipse Plugin Mars" sequenceNumber="1534111170">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.1.v20180423-1114"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.5.2.v20160212-1500"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.11.2.v20160212-1500"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="1.6.2.20150902-0002"/>
      <unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.2.1.20150819-2220"/>
      <unit id="org.eclipse.mylyn.commons.feature.group" version="3.18.0.v20151116-1930"/>
      <unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.4.2.v201512181609"/>
      <unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.12.0.v201406061321-7PB21FEpPZQXdcX0z-_yMM0Hfz0w"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.3.0.201506081302"/>
      <unit id="org.eclipse.jetty.http" version="9.2.13.v20150730"/>
      <unit id="org.eclipse.jetty.servlet" version="9.2.13.v20150730"/>
      <unit id="org.eclipse.jetty.server" version="9.2.13.v20150730"/>
      <unit id="org.eclipse.jetty.util" version="9.2.13.v20150730"/>
      <repository location="http://download.eclipse.org/releases/mars/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jst.web_sdk.feature.feature.group" version="3.7.1.v201512021921"/>
      <unit id="org.eclipse.jst.server_sdk.feature.feature.group" version="3.4.200.v201512031711"/>
      <unit id="org.eclipse.jst.common.fproj.enablement.jdt.sdk.feature.group" version="3.6.3.v201501141810"/>
      <unit id="org.eclipse.wst.common.fproj.sdk.feature.group" version="3.7.0.v201505072140"/>
      <unit id="org.eclipse.wst.web_sdk.feature.feature.group" version="3.7.1.v201602111638"/>
      <unit id="org.eclipse.wst.server_adapters.sdk.feature.feature.group" version="3.2.500.v201508271522"/>
      <unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.7.0.v201602161345"/>
      <unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.7.1.v201512021921"/>
      <unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.7.1.v201602111638"/>
      <unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.400.v201503102136"/>
      <unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.401.v201508232356"/>
      <unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.200.v201512031711"/>
      <unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.402.v201505042029"/>
      <repository location="http://download.eclipse.org/webtools/repository/mars/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.cloud.tools.eclipse.suite.feature.feature.group" version="1.7.1.201807071456"/>
      <repository location="https://dl.google.com/eclipse/google-cloud-eclipse/stable/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.github.sdbg.feature.feature.group" version="1.0.10.201610081555"/>
      <repository location="http://sdbg.github.io/p2/"/>
    </location>
  </locations>
</target>
