<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.google.appengine.eclipse.core.gaeSdk">
      <gaeSdk
            class="com.google.gdt.eclipse.maven.sdk.MavenSdkInstallationPathLocator">
      </gaeSdk>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="com.google.gdt.eclipse.maven.launch.MavenClasspathProvider"
            id="com.google.gdt.eclipse.maven.mavenClasspathProvider">
      </classpathProvider>
   </extension>
   <extension
         point="com.google.gwt.eclipse.core.moduleClasspathProvider">
      <moduleClasspathProvider
            priority="30"
            providerClass="com.google.gdt.eclipse.maven.launch.MavenClasspathProvider$MavenClasspathProviderIdProvider">
      </moduleClasspathProvider>
   </extension>
   <extension
         point="com.google.appengine.eclipse.core.enhancerJobCpFinder">
      <enhancerJobCpFinder
            class="com.google.gdt.eclipse.maven.enhancement.MavenEnhancerClasspathBuilder"></enhancerJobCpFinder>
   </extension>
   <extension
         point="com.google.gwt.eclipse.core.gwtProjectBoundSdkFactory">
      <gwtProjectBoundSdkFactory
            class="com.google.gdt.eclipse.maven.sdk.GWTMavenSdkFactory">
      </gwtProjectBoundSdkFactory>
   </extension>
   <extension
         point="com.google.gdt.eclipse.core.warOutputDirectoryLocator">
      <outputWarDir
            class="com.google.gdt.eclipse.maven.web.MavenOutputWarDirectoryLocator">
      </outputWarDir>
   </extension>
   <extension
         point="com.google.gdt.eclipse.core.managedWarOptionEnablementFinder">
      <managedWarOptionEnablementFinder
            class="com.google.gdt.eclipse.maven.properties.MavenManagedWarOptionDisabler">
      </managedWarOptionEnablementFinder>
   </extension>
   <extension
         point="com.google.gdt.eclipse.suite.launchConfigVmArgProcessor">
      <launchConfigVmArgProcessor
            class="com.google.gdt.eclipse.maven.launch.processors.XXMaxPermSizeArgumentProcessor">
      </launchConfigVmArgProcessor>
   </extension>
</plugin>
