<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.google.gdt.eclipse.suite.ext.updatePing" name="UpdatePing" schema="schema/com.google.gdt.eclipse.suite.ext.updatePing.exsd"/>

   <extension
         point="com.google.gdt.eclipse.core.deploymentParticipant">
      <deploymentParticipant
            class="com.google.gdt.eclipse.suite.update.usage.GaeUsageTrackingDeploymentParticipant">
      </deploymentParticipant>
   </extension>
   <extension
         point="com.google.gdt.eclipse.managedapis.managedApiProjectInitializationCallback">
      <managedApiProjectInitializationCallback
            class="com.google.gdt.eclipse.suite.update.usage.ManagedApiPing">
      </managedApiProjectInitializationCallback>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="com.google.gdt.eclipse.suite.update.builders.UpdateTriggerCompilationParticipant"
            createsProblems="false"
            id="com.google.gdt.eclipse.suite.updateTriggerCompilationParticipant">
      </compilationParticipant>
   </extension>
   <extension
         point="com.google.appengine.eclipse.core.logGaeStats">
      <LogGaeStats
            class="com.google.gdt.eclipse.suite.update.usage.LogGaeStats">
      </LogGaeStats>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.google.gdt.eclipse.suite.GDTPulldown?after=toolbarGroup.new">
         <command
               commandId="com.google.gdt.eclipse.suite.ext.importGaeDemo"
               icon="icons/ae_16x16.png"
               label="Import App Engine Sample Apps..."
               style="push"
               tooltip="Import App Engine Sample Apps">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.google.gdt.eclipse.suite.update.importer.ImportGaeDemoAppToolbarHandler"
            id="com.google.gdt.eclipse.suite.ext.importGaeDemo"
            name="Import App Engine Sample Apps">
      </command>
   </extension>
   <extension
         point="com.google.gdt.eclipse.appengine.swarm.endpointscallback">
      <endpointscallback
            class="com.google.gdt.eclipse.suite.update.usage.EndpointsUsageReporter">
      </endpointscallback>
   </extension>
   <extension point="com.google.gdt.eclipse.drive.listener">
      <listenerClass class="com.google.gdt.eclipse.suite.update.usage.AppsScriptImportReporter" />
   </extension>

</plugin>
