<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.google.gdt.eclipse.suite.ext.updatePing" name="UpdatePing" schema="schema/com.google.gdt.eclipse.suite.ext.updatePing.exsd"/>
   
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="com.google.gdt.eclipse.suite.update.builders.UpdateTriggerCompilationParticipant"
            createsProblems="false"
            id="com.google.gdt.eclipse.suite.updateTriggerCompilationParticipant">
      </compilationParticipant>
   </extension>
   
   <!-- TODO ?
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.google.gdt.eclipse.suite.GDTPulldown?after=toolbarGroup.new">
         <command
               commandId="com.google.gdt.eclipse.suite.ext.importGaeDemo"
               icon="icons/ae_16x16.png"
               label="Import App Engine Sample Apps..."
               style="push"
               tooltip="Import App Engine Sample Apps">
         </command>
      </menuContribution>
   </extension>
   -->

</plugin>
