<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
    <extension point="org.eclipse.ui.propertyPages">
        <page id="com.google.appengine.eclipse.wtp.gaeProjectOrmPropertyPage"
              name="Google App Engine ORM"
              category="org.eclipse.jpt.jpa.ui.jpaProjectProperties"
              class="com.google.appengine.eclipse.core.properties.ui.GaeOrmProjectPropertyPage">
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test forcePluginActivation="true"
                          property="org.eclipse.wst.common.project.facet.core.projectFacet"
                          value="jpt.jpa"/>
                </adapt>
            </enabledWhen>
        </page>
    </extension>
    <extension
          point="org.eclipse.jdt.core.classpathContainerInitializer">
       <classpathContainerInitializer
             class="com.google.appengine.eclipse.wtp.jpa.libprov.DatanucleusClasspathContainerInitializer"
             id="com.google.appengine.eclipse.wtp.jpa.DATANUCLEUS_CONTAINER">
       </classpathContainerInitializer>
    </extension>
    <extension
         point="org.eclipse.wst.common.project.facet.core.listeners">
      <listener
            class="com.google.appengine.eclipse.wtp.jpa.JpaFacetUninstallListener"
            eventTypes="PRE_UNINSTALL">
      </listener>
   </extension>
   <extension
          point="org.eclipse.wst.common.project.facet.core.presets">
       <dynamic-preset
             id="com.google.appengine.jpaPreset">
           <factory class="com.google.appengine.eclipse.wtp.jpa.GaeJpaPresetFactory"/>
       </dynamic-preset>
    </extension>
</plugin>
