<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="GWT Eclipse Plugin for 2022-09" sequenceNumber="1664701810">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.25.0.v20220831-1800"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.18.1300.v20220831-1800"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="2.0.4.20220904-1703"/>
      <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="2.0.4.20220904-1703"/>
      <unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.5.2.20220906-1452"/>
      <unit id="org.eclipse.m2e.wtp.sdk.feature.feature.group" version="1.5.2.20220906-1452"/>
      <unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.6.1.v202204060305"/>
      <unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.14.102.201911250848"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.0.0.202206011610"/>
      <unit id="org.eclipse.jetty.http" version="10.0.11"/>
      <unit id="org.eclipse.jetty.servlet" version="10.0.11"/>
      <unit id="org.eclipse.jetty.server" version="10.0.11"/>
      <unit id="org.eclipse.jetty.util" version="10.0.11"/>
      <repository location="https://download.eclipse.org/releases/2022-09/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.jst.web_sdk.feature.feature.group" version="3.27.0.v202206160204"/>
      <unit id="org.eclipse.jst.server_sdk.feature.feature.group" version="3.4.600.v202206110154"/>
      <unit id="org.eclipse.jst.common.fproj.enablement.jdt.sdk.feature.group" version="3.27.0.v202208260526"/>
      <unit id="org.eclipse.wst.common.fproj.sdk.feature.group" version="3.7.2.v202007142017"/>
      <unit id="org.eclipse.wst.web_sdk.feature.feature.group" version="3.27.0.v202206160209"/>
      <unit id="org.eclipse.jst.enterprise_sdk.feature.feature.group" version="3.27.0.v202206160204"/>
      <unit id="org.eclipse.wst.server_adapters.sdk.feature.feature.group" version="3.2.700.v201910252115"/>
      <repository location="https://download.eclipse.org/webtools/repository/2022-09/"/>
    </location>
  </locations>
</target>