<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>    
     <!-- This extension point is only exposed in a custom patch of jdt.debug, which
          is a patch against the 3.7 version. Otherwise, it will be ignored. -->              
     <!-- (http://code.google.com/p/google-plugin-for-eclipse/issues/detail?id=87&thanks=87&ts=1349299718#makechanges)
     <extension point="org.eclipse.jdt.debug.instructioncompilerfactory">
       <instructioncompilerfactory
             class="com.google.gdt.eclipse.platform.debug.eval.JSOEvalingASTInstructionCompilerFactory">
       </instructioncompilerfactory>
    </extension> -->
</plugin>
