<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
          point="org.eclipse.m2e.wtp.facetDetectors">
       <facetDetector
             class="com.google.gwt.eclipse.wtp.maven.GwtFacetDetector"
             facetId="com.gwtplugins.gwt.facet"
             priority="1">
       </facetDetector>
    </extension>
    
    <extension
          point="org.eclipse.m2e.core.mavenComponentContributors">
       <configurator
             class="com.google.gwt.eclipse.wtp.maven.GwtMavenComponentContributor">
       </configurator>
    </extension>
    
    <!-- lifecycle-mapping-metadata.xml -->
    <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
    
    <extension
          point="org.eclipse.m2e.core.projectConfigurators">
       <configurator
             class="com.google.gwt.eclipse.wtp.maven.GwtProjectConfigurator"
             id="com.gwtplugins.gwt.eclipse.wtp.maven.gwtConfigurator1"
             runsAfter="com.gwtplugins.gdt.eclipse.maven.mavenProjectConfigurator1"
             name="GWT Dynamic Web Project Configurator (first GWT maven plugin)">
       </configurator>
    </extension>
    <extension
          point="org.eclipse.m2e.core.projectConfigurators">
       <configurator
             class="com.google.gwt.eclipse.wtp.maven.GwtProjectConfigurator"
             id="com.gwtplugins.gwt.eclipse.wtp.maven.gwtConfigurator2"
             runsAfter="com.gwtplugins.gdt.eclipse.maven.mavenProjectConfigurator2"
             name="GWT Dynamic Web Project Configurator (second GWT maven plugin)">
       </configurator>
    </extension>

</plugin>
