<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
          point="org.eclipse.m2e.wtp.facetDetectors">
       <facetDetector
             class="com.google.gwt.eclipse.wtp.maven.GwtFacetDetector"
             facetId="com.gwtplugins.gwt.facet"
             priority="1">
       </facetDetector>
    </extension>
    
    <extension
          point="org.eclipse.m2e.core.mavenComponentContributors">
       <configurator
             class="com.google.gwt.eclipse.wtp.maven.GwtMavenComponentContributor">
       </configurator>
    </extension>
    
    <!-- lifecycle-mapping-metadata.xml -->
    <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
    
    <extension
          point="org.eclipse.m2e.core.projectConfigurators">
       <configurator
             class="com.google.gwt.eclipse.wtp.maven.WtpMavenProjectConfigurator"
             id="com.gwtplugins.gwt.eclipse.wtp.maven.gwtConfigurator"
             runsAfter="org.maven.ide.eclipse.configuration.wtp.configurator?"
             name="GWT WTP Maven Project Configurator">
       </configurator>
    </extension>
    
</plugin>
