<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="com.google.appengine.eclipse.core.gaeSdk" name="gaeSdk" schema="schema/com.google.appengine.eclipse.core.gaeSdk.exsd"/>
  <extension-point id="com.google.appengine.eclipse.core.enhancerJobCpFinder" name="enhancerJobCpFinder" schema="schema/com.google.appengine.eclipse.core.enhancerJobCpFinder.exsd"/>
  <extension-point id="com.google.appengine.eclipse.core.gaeSdkSelectionEnablementFinder" name="gaeSdkSelectionEnablementFinder" schema="schema/com.google.appengine.eclipse.core.gaeSdkSelectionEnablementFinder.exsd"/>
  <extension-point id="com.google.appengine.eclipse.core.gaeSqlToolsExtension" name="gaeSqlToolsExtension" schema="schema/com.google.appengine.eclipse.core.gaeSqlToolsExtension.exsd"/>
  <extension-point id="com.google.appengine.eclipse.core.appengineWebXml" name="appengineWebXml" schema="schema/com.google.appengine.eclipse.core.appengineWebXml.exsd"/>
  <extension-point id="com.google.appengine.eclipse.core.gaeProjectChange" name="gaeProjectChange" schema="schema/com.google.appengine.eclipse.core.gaeProjectChange.exsd"/>
  <extension-point id="com.google.appengine.eclipse.core.logGaeStats" name="logGaeStats" schema="schema/com.google.appengine.eclipse.core.logGaeStats.exsd"/>
  <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="com.google.appengine.eclipse.core.validators.java.JavaCompilationParticipant"
            createsProblems="true"
            id="com.google.appengine.eclipse.core.javaCompilationParticipant">
         <managedMarker
               markerType="com.google.appengine.eclipse.core.javaProblemMarker">
         </managedMarker>
      </compilationParticipant>
   </extension>
   <extension
         id="gaeNature"
         name="GAE Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.google.appengine.eclipse.core.nature.GaeNature">
         </run>
      </runtime>
      <builder
            id="com.google.appengine.eclipse.core.enhancerbuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <builder
            id="com.google.appengine.eclipse.core.projectValidator">
      </builder>
      <builder
            id="com.google.appengine.eclipse.core.gaeProjectChangeNotifier">
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.google.appengine.eclipse.core.preferences.GaePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.google.gdt.eclipse.suite.preferences.ui.googlePreferences"
            class="com.google.appengine.eclipse.core.preferences.ui.GaePreferencePage"
            id="com.google.appengine.eclipse.core.preferences.ui.GaePreferencePage"
            name="App Engine">
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.google.appengine.eclipse.core.sdk.GaeSdkContainerInitializer"
            id="com.google.appengine.eclipse.core.GAE_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="com.google.gdt.eclipse.core.properties.coreProjectPropertyPage"
            class="com.google.appengine.eclipse.core.properties.ui.GaeProjectPropertyPage"
            id="com.google.appengine.eclipse.core.gaeProjectPropertyPage"
            name="App Engine">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="com.google.appengine.eclipse.core.gaeProjectPropertyPage"
            class="com.google.appengine.eclipse.core.properties.ui.GaeValidationProjectPropertyPage"
            id="com.google.appengine.eclipse.core.properties.gaeProjectValidationPropertyPage"
            name="Validation">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="com.google.appengine.eclipse.core.gaeProjectPropertyPage"
            class="com.google.appengine.eclipse.core.properties.ui.GaeOrmProjectPropertyPage"
            id="com.google.appengine.eclipse.core.properties.gaeProjectOrmPropertyPage"
            name="ORM">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.google.appengine.eclipse.core.projectGaeSettings"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.google.appengine.eclipse.core.actions.ProjectPropertiesAction"
               id="com.google.appengine.eclipse.core.popupMenu.project.gaeSettings"
               label="App Engine Settings..."
               menubarPath="com.google.gdt.eclipse.suite.popupMenu.project/settingsContent">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.google.appengine.eclipse.core.popupMenus.deployProject"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.google.appengine.eclipse.core.deploy.ui.DeployProjectAction"
               icon="icons/ae-deploy_16x16.png"
               id="com.google.appengine.eclipse.core.popupMenus.deployProjectAction"
               label="Deploy to App Engine"
               menubarPath="com.google.gdt.eclipse.suite.popupMenu.project/actionsContent">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="enhancerbuilder"
         name="Enhancer"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.google.appengine.eclipse.core.orm.enhancement.AutoEnhancer">
         </run>
      </builder>
   </extension>
   <extension
         id="projectValidator"
         name="Google App Engine Project Validator"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false">
         <run
               class="com.google.appengine.eclipse.core.validators.GaeProjectValidator">
         </run>
      </builder>
   </extension>
   <extension
         id="gaeProjectChangeNotifier"
         name="Google App Engine Project Change Notifier"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.google.appengine.eclipse.core.properties.ui.GaeProjectChangeNotifier">
         </run>
      </builder>
   </extension>
   <extension
         id="problemMarker"
         name="Google App Engine Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="com.google.appengine.eclipse.core.sdk.GaeSdkClasspathContainerPage"
            id="com.google.appengine.eclipse.core.GAE_CONTAINER"
            name="Google App Engine">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="com.google.appengine.eclipse.core.markers.quickfixes.AppEngineJavaProblemMarkerResolutionGenerator"
            id="com.google.appengine.eclipse.core.quickFixProcessor"
            name="App Engine QuickFix Processor">
         <handledMarkerTypes>
            <markerType
                  id="com.google.appengine.eclipse.core.javaProblemMarker">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.google.appengine.eclipse.core.markers.quickfixes.AppEngineJavaProblemMarkerResolutionGenerator"
            markerType="com.google.appengine.eclipse.core.javaProblemMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="javaProblemMarker"
         name="Google App Engine Java Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.google.appengine.eclipse.core.deploy.ui.DeployProjectHandler"
            id="com.google.appengine.eclipse.core.deployToGoogle"
            name="Deploy to Google">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.google.gdt.eclipse.suite.GDTPulldown?after=toolbarGroup.deploy">
         <command
               commandId="com.google.appengine.eclipse.core.deployToGoogle"
               icon="icons/ae-deploy_16x16.png"
               label="Deploy to App Engine..."
               style="push"
               tooltip="Deploy App Engine Project">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.google.gdt.eclipse.login.oauthScope">
      <oauthScope
            scope="https://www.googleapis.com/auth/appengine.admin">
      </oauthScope>
      <oauthScope
            scope="https://www.googleapis.com/auth/sqlservice">
      </oauthScope>
   </extension>
   <extension
         id="javaJdbcUrlCompletor"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="false"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="com.google.appengine.eclipse.core.editor.SqlJdbcUrlCompletionComputer">
      </javaCompletionProposalComputer>
   </extension>
</plugin>
