<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.google.gdt.eclipse.gph.installManagerProvider">
      <installManager
            class="com.google.gdt.eclipse.gph.install.P2InstallManagerImpl">
      </installManager>
   </extension>

</plugin>
