<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
    <extension
          point="org.eclipse.jpt.jpa.core.jpaPlatforms">
       <jpaPlatformGroup
             id="com.google.appengine.eclipse.wtp.jpa.GaePlatformGroup"
             label="GaePlatformGroup">
       </jpaPlatformGroup>
       <jpaPlatform
             default="true"
             factoryClass="com.google.appengine.eclipse.wtp.jpa.GaeJpaPlatformFactory"
             group="com.google.appengine.eclipse.wtp.jpa.GaePlatformGroup"
             id="com.google.appengine.eclipse.wtp.jpa.GaePlatform"
             label="Google App Engine (Datanucleus)">
       </jpaPlatform>
    </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="com.google.appengine.eclipse.wtp.jpa.JpaWorkarounds">
       </startup>
    </extension>
</plugin>
