<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="com.google.cloudsdk.eclipse.wtp.runtime.CloudSdkRuntime"
            description="%runtimeTypeDescription"
            id="com.google.cloudsdk.runtime.id1"
            name="%runtimeTypeName"
            vendor="%runtimeTypeVendor"
            version="1">
            <moduleType types="jst.web" versions="2.2, 2.3, 2.4, 2.5, 3.1"/>
            <moduleType types="jst.connector" versions="1.0, 1.5, 1.6"/>
            <moduleType types="jst.utility"  versions="1.0"/>
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="com.google.cloudsdk.eclipse.wtp.ui.CloudSdkRuntimeWizardFragment"
            id="com.google.cloudsdk.runtime.fragment1"
            typeIds="com.google.cloudsdk.runtime.id1">
      </fragment>
   </extension>
   <extension point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet id="com.google.cloudsdk.facet">
        <label>%cloudsdkfacetlabel</label>
        <description>%cloudsdkfacetdescription</description>
      </project-facet>
      <project-facet-version facet="com.google.cloudsdk.facet" version="1">
          <constraint>
            <and>
              <or>
                  <requires facet="jst.web" version="2.2"/>
                  <requires facet="jst.web" version="2.3"/>
                  <requires facet="jst.web" version="2.4"/>
                  <requires facet="jst.web" version="2.5"/>
                  <requires facet="jst.web" version="3.0"/>
                  <requires facet="jst.web" version="3.1"/>
              </or>
              <requires facet="java" version="[1.6"/>
           </and>
         </constraint>
      </project-facet-version>
      <action
          facet="com.google.cloudsdk.facet"
          id="com.google.cloudsdk.facet.install"
          type="install">
        <delegate class="com.google.cloudsdk.eclipse.wtp.facet.CloudSdkFacetInstallDelegate"/>
      </action>
      <action
          facet="com.google.cloudsdk.facet"
          id="com.google.cloudsdk.facet.uninstall"
          type="uninstall">
        <delegate class="com.google.cloudsdk.eclipse.wtp.facet.CloudSdkFacetUninstallDelegate"/>
      </action>
   </extension>
   <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type id="com.google.cloudsdk.runtime.id"/>
      <runtime-component-version type="com.google.cloudsdk.runtime.id" version="1"/>
      <supported>
          <runtime-component id="com.google.cloudsdk.runtime.id" version="1"/>
          <facet id="com.google.cloudsdk.facet" version="1"/>
          <facet id="jst.web" version="2.2,2.3,2.4,2.5,3.1"/>
          <facet id="jst.utility"  version="1.0"/>
          <facet id="jst.webfragment" version="3.0" />
          <facet id="java" version="[1.6" />
      </supported>
   </extension>
   <extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
    <runtimeFacetMapping runtimeTypeId="com.google.cloudsdk.runtime.id1"
        runtime-component="com.google.cloudsdk.runtime.id" version="1"/>
   </extension>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="com.google.cloudsdk.eclipse.wtp.facet.CloudSdkProjectConfigurator"
            id="com.google.cloudsdk.maven.cloudSdkConfigurator"
            name="Cloud SDK Dynamic Web Project Configurator"
            secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="com.google.cloudsdk.eclipse.wtp.server.CloudSdkServerBehaviour"
            class="com.google.cloudsdk.eclipse.wtp.server.CloudSdkServer"
            description="%serverTypeDescription"
            id="com.google.cloudsdk.server.id"
            initialState="stopped"
            launchConfigId="com.google.cloudsdk.CloudSdkLaunchConfigurationType"
            launchModes="run,debug,profile"
            name="%serverTypeName"
            runtime="true"
            runtimeTypeId="com.google.cloudsdk.runtime.id1"
            startBeforePublish="false"
            supportsRemoteHosts="false">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.google.cloudsdk.eclipse.wtp.server.CloudSdkLaunchConfigurationDelegate"
            id="com.google.cloudsdk.CloudSdkLaunchConfigurationType"
            modes="run, debug, profile"
            name="%serverTypeName">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/cloud-sdk_16X16.png"
            id="com.google.cloudsdk.image"
            typeIds="com.google.cloudsdk.runtime.id1,com.google.cloudsdk.server.id">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            path="icons/cloud-sdk_16X16.png"
            facet="com.google.cloudsdk.facet">
      </image>
   </extension>

</plugin>
