<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
               adaptable="true"
               id="com.google.gdt.eclipse.appengine.swarm_backend.ui.generateBackendProject"
               objectClass="org.eclipse.core.resources.IProject">
            <action
                  class="com.google.gdt.eclipse.appengine.swarm_backend.ui.GenerateBackendProjectAction"
                  icon="icons/ae-deploy_16x16.png"
                  enablesFor="?"
                  id="com.google.gdt.eclipse.appengine.swarm_backend.ui.generateBackendProjectAction"
                  label="Generate App Engine Backend..."
                  menubarPath="com.google.gdt.eclipse.suite.popupMenu.project/actionsContent">
            </action>
         </objectContribution>
   </extension>
</plugin>
